/*!
Hacktoberfest
 */

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', sans-serif, 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: #2DA385; }
  a:focus, a:hover {
    color: #2DA385;
}

a.dark {
  color: #56200F; }
  a:focus, a:hover {
    color: #56200F;
}

hr {
  max-width: 80px;
  border-width: 3px;
}

hr.dark {
  border-color: #EF7E5A;
}

hr.light {
  border-color: white;
}

.section-dark {
  color: white;
  background-color: #EF7E5A;
}

.section-light {
  background-color: white;
}

.section-heading {
  margin-top: 0;
}

.text {
  color: white;
}

.icon-dark {
  color: #EF7E5A;
}

.call-to-action {
  padding: 45px 0;
}

.btn {
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn.btn-large {
  padding: 15px 30px;
}

.btn-dark {
  color: white;
  background-color: #075642;}
  .btn-dark:hover {
    color: white;
    background-color: #2DA385;
}

.getting-started-box {
  max-width: 400px;
  margin: 50px auto 0; }
  @media (min-width: 992px) {
    .getting-started-box {
      margin: 20px auto 0; } }
  .getting-started-box p {
    margin-bottom: 0;
}

.logosoup {
  text-align: center;
}
.logosoup img {
  height: 3em;                     /* Uniform height */
  margin-bottom: 1em;              /* Don't cram together */
  filter: brightness(0) invert(1); /* Make images just flat white*/
}
.logosoup img:hover {
  /*Show original images on hover*/
  filter: none;
  background-color: white;
}
.logosoup img.bg-gradient:hover {
  background: linear-gradient(to bottom right, #8d397c, #c98b2a);
}

.platinum-sponsors a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gold-sponsors a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.platinum-sponsors img {
  max-height: 5em;
  max-width: 100%;
}

.gold-sponsors img {
  max-height: 4em;
  max-width: 100%;
}

#mainNav {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #075642;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #2DA385; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #075642; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #075642; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #2DA385; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #2DA385 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #075642; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #2DA385; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #075642; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #2DA385; } }

@media (max-width: 360px) {
  .navbar-brand {
    font-size: 1.125rem; }
  .navbar-toggler {
    font-size: 1.25rem; 
    padding: .25rem .3625rem; } }

header {
  width: 100%;
  color: white;
  background-color: #A3492D;
  text-align: center; }
  header img {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 60px auto; }


#lets-do-this {
  color: white;
  background-color: #A3492D;
}
