.navbar {
  background-color: #A3492D;
}
.navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar img {
  height: 3em;
}

/* Add some left margin to all issue tags that are after another */
.is-issue-tag + .is-issue-tag {
  margin-left: 6px;
}

section {
  padding: 1em;
}

/* Stick a comma after each project/org except the last */
.list-inline-item:not(:last-child) a:after {
    content: ",";
}

/**
 * preface the last item with "and ". It's on the ::before of the li not the a
 * so it's not part of the link
 */
.list-inline-item:last-child::before {
    content: "and ";
}

#pr-template-invalid, #pr-template-valid {
  display: none;
}

footer {
  min-height: 4em;
  color: white;
  background-color: #A3492D;
}
