<section>
  <h3>What's this?</h3>
  <p class="lead">
    We are asking people to open 4 pull requests to <strong>Wichita
    based</strong> projects on GitHub during the month of October.
  </p>
  <p>
    This is a blatant attempt to piggyback off the popularity of the global
    <a href="https://hacktoberfest.digitalocean.com">Hacktoberfest</a> event
    from Digital Ocean and GitHub.
  </p>
</section>

<section>
  <h3>What do I get out of it?</h3>
  <p>
    Some sweet stuff! A shirt, probably. Maybe some stickers too? We're still
    working that out.
  </p>
</section>

<section>
  <h3>What do you get out of it?</h3>
  <p>A livelier developer community in Wichita!</p>
</section>

<section>
  <h3>What projects qualify?</h3>
  <p>
    Any project from Wichita devs or organizations can qualify but it needs to
    be listed here.
  </p>
  <p>
    We will count PRs opened against any project under any of these
    organizations:
    <ul>
      {{ range $org, $i := .Orgs }}
        <li><a href="https://github.com/{{ $org }}">{{ $org }}</a></li>
      {{ end }}
    </ul>
    Note that <a href="https://github.com/devict/hacktoberfest">the repo for
    this site</a> qualifies so maybe make this page look better? <em>(How meta!)</em>
  </p>
  <p>
    We will also count PRs opened against these individual projects.
    <ul>
      {{ range $p, $i := .Projects }}
        <li><a href="https://github.com/{{ $p }}">{{ $p }}</a></li>
      {{ end }}
    </ul>
  </p>
  <p>
    Would you like your organization or project to show up on these lists? Just
    let us know! <a href="https://github.com/devict/hacktoberfest/issues/new">File
    an issue</a> against this site's repo or maybe make a pull request?
  </p>
</section>

<section>
  <h3>Okay let's do this!</h3>
  <p>
    <a class="btn btn-primary" href="/auth/github">Sign Up with GitHub!</a>
  </p>
</section>

<section>
  <h3>Wait, who is putting this on?</h3>
  <p>
    This event is a partnership between <a href="http://devict.org">devICT</a>, <a href="http://ennovar.wichita.edu">Ennovar</a>, and <a href="http://labor-party.com/">The Labor Party</a>.
  </p>
</section>

<section>
  <h3>Participating Organizations!</h3>

<div class="row">
       
<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="https://devict.org">
    <img class="img-responsive" src="/public/logos/devict.png" alt="DevICT">
  </a>
</div>

<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="http://makeict.org">
    <img class="img-responsive" src="/public/logos/makeict.png" alt="MakeICT">
  </a>
</div>

<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="http://ennovar.io">
    <img class="img-responsive" src="/public/logos/ennovar.png" alt="Ennovar">
  </a>
</div>

<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="http://labor-party.com">
    <img class="img-responsive" src="/public/logos/laborparty.png" alt="Labor Party">
  </a>
</div>

</div>

<div class="row">

<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="http://openwichita.com">
    <img class="img-responsive" src="/public/logos/openwichita.png" alt="Open Wichita">
  </a>
</div>

<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="http://www.startupwichita.com">
    <img class="img-responsive" src="/public/logos/startupwichita.png" alt="Start Wichita">
  </a>
</div>

</div>

</section>
