<!doctype html>
<html lang="en" class="bg-white antialiased text-gray-700">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Submit two pull requests to qualifying Wichita projects during the month of October and receive cool stickers!">
    <meta name="keywords" content="devICT, Wichita, Hacktoberfest">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Wichita Hacktoberfest {{ .Year }}!"/>
    <meta property="og:url" content="https://devict-hacktoberfest.herokuapp.com/"/>
    <meta property="og:description" content="Submit two pull requests to qualifying Wichita projects during the month of October and receive cool stickers!"/>
    <meta property="og:image" content="https://devict-hacktoberfest.herokuapp.com/public/images/social.png"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dev_ict">
    <meta name="twitter:title" content="devICT Hacktoberfest {{ .Year }}!">
    <meta name="twitter:description" content="Submit two pull requests to qualifying Wichita projects during the month of October and receive cool stickers!">
    <meta name="twitter:image" content="https://devict-hacktoberfest.herokuapp.com/public/images/social.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/public/images/icons/site.webmanifest">
    <link rel="shortcut icon" href="/public/images/icons/favicon.ico">
    <link rel="mask-icon" href="/public/images/icons/safari-pinned-tab.svg" color="#F7941E">

    <title>devICT Hacktoberfest {{ .Year }}</title>

    <!-- Custom CSS -->
    <link href="/public/css/app.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:wght@400;500;700;800;900&display=swap" rel="stylesheet">

    {{ partial "css" }}
  </head>
  <body id="#">
    {{ yield }}

    <!-- Core JavaScript. jQuery, Bootstrap, and Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.min.js"></script>

    <!-- Page Specific JavaScript -->
    {{ partial "js" }}
  </body>
</html>
